<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="mainCardContainer">
    <div class="card" *ngIf="Product">
            <img src="{{Product.image}}" alt="Product Image" >
    </div>
    <div class="card" *ngIf="Product">
      <div class="container">
        <h1 class="productTitle"><b>{{Product.title}}</b></h1> 
        <h2 class="productPrice"><b>Price : {{Product.price}} $</b></h2> 
        <h2>Product Description</h2>
        <p>{{ Product.description}}</p>
        <h2>Product Category</h2>
        <p>{{ Product.category}}</p>
        <button id="addToCard" (click)="AddCard()" >Add To Card</button>
      </div>
    </div>
</div>
<br><br><br>

</body>
</html>