
body {
    background-color: #04436a;
  }
  
  .mainbox {
    background-color: #04436a;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
.err4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    position: absolute;
    left: 10%;
    top: 24%;
    width: 100%;
    color: white;
    font-weight: bold;
}
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
  }
  
   .err2 {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 60%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 40%;
      width: 75%;
      color: #f4aa0a;
    }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }